<!-- Contact Section -->
<section class="basic-black", id="interest">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Research Interest</h2>
                <hr class="star-primary-black-long">
            </div>
        </div>
        <div class="row" style="margin-bottom: -120px; font-size: 22px;">
            <li>
                Reinforcement Learning (Multi-armed Bandits), Continual Learning
            </li>
            <li>
                How to allow models to efficiently store and process datasets for specific and given contexts
            </li>
            <li>
                How to measure (or extract) the similarity in information between old and new contexts
            </li>
            <li>
                In the Future, my goal is to apply the improved algorithms from my research to high-level control engineering of robotics-software
            </li>
        </div>
    </div>
</section>



