 <!-- About Section -->
    <section class="success" id="publication">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publication</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 10px;">
                    <p style="display: inline; line-height: 130%;">
                        1. <b>Hyejin Park</b>*, Seiyun Shin*, Kwang-Sung Jun, and Jungseul Ok, 
                        'Transfer Learning in Bandits with Latent Continuity', 2021 IEEE International Symposium on Information Theory (ISIT), 2021, pp. 1463-1468, doi: 10.1109/ISIT45174.2021.9518093."
                    </p>
                    <a href="https://arxiv.org/abs/2102.02472" style="font-size: 22px;" target="parent">
                        <i class="fa fa-fw fa-link"></i>
                    </a>
                </div>
                <div class="col-lg-12">
                    <p style="line-height: 130%;">
                        2. <b>Hyejin Park</b>*, Byungchan Ko*, Jaechang Kim*, Hoyoung Kim, Jinwoo Jeon, and Jungseul Ok, 
                        'Effect of Privacy Preserving in Personalized Federated Learning with Heterogeneous Data from Wearable Devices', KSC2021. (will be updated!)
                    </p>
                </div>
            </div>
            <!-- <div class="row" style="font-size: 25px;">
                <div class="col-lg-12" style="font-size: 25px;">
                    <ol>
                        <li style="margin-bottom: 10px;">
                            <span>
                            <b>Hyejin Park</b>*, Seiyun Shin*, Kwang-Sung Jun, and Jungseul Ok, 
                            'Transfer Learning in Bandits with Latent Continuity', 2021 IEEE International Symposium on Information Theory (ISIT), 2021, pp. 1463-1468, doi: 10.1109/ISIT45174.2021.9518093."
                            </span>
                            <a href="https://arxiv.org/abs/2102.02472" target="parent">
                                <i class="fa fa-fw fa-link"></i>
                            </a>
                        </li>
                        <li>
                            <span>
                            <b>Hyejin Park</b>*, Byungchan Ko*, Jaechang Kim*, Hoyoung Kim, Jinwoo Jeon, and Jungseul Ok, 
                            'Effect of Privacy Preserving in Personalized Federated Learning with Heterogeneous Data from Wearable Devices', KSC2021. (will be updated!)
                            </span>
                        </li>
                        {% for list in site.publication %}
                            <li>
                            <div style="margin-bottom: 20px;">
                            {{ list.content }}
                                <a href="{{ list.url }}" target="parent">
                                    <i class="fa fa-fw fa-link"></i>
                                </a>
                            </div>
                            </li>  
                        {% endfor %}
                    </ol>
                </div>
            </div> -->
        </div>
    </section>

